<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::title}, ~{::div})}" xmlns:th="http://www.w3.org/1999/xhtml">
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title >后台首页 - QAdmin后台模板</title>
</head>
<body>
<div class="right p20">
    <blockquote class="layui-elem-quote">
        <h2>QAdmin 轻量级后台模板</h2>
        <p>基于layui框架与Vue.js构建</p>
        <p>轻量不复杂 简洁不简单</p>
    </blockquote>
    <div class="layui-row">
        <div class="layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header"><h2>支持我们</h2></div>
                <div class="layui-card-body" style="height: 250px;">
                    <ul>
                        <li>如果您认为QAdmin对你有所帮助,你可以扫描以上二维码支持我们</li>
                        <li><img height="180" src="/html-statis/admin/img/pay.png" /></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header"><h2>QAdmin 介绍</h2></div>
                <div class="layui-card-body" style="height: 250px;">
                    <ul>
                        <li>QAdmin 是一个轻量级的后台模板,基于layui框架</li>
                        <li>风格简洁简单,中小型项目首选</li>
                        <li>不管你是初级还是高级工程师,都有可以快速上手</li>
                        <li>QAdmin是由vue混合式开发,可以在模板任意使用jq或vue/layui</li>
                        <li>当前版本: v1.0</li>
                        <li><b>关注官网或github随时下载最新版</b></li>
                        <li>
                            <a href="http://www.qadmin.net/" target="_blank" class="layui-btn layui-btn-ms">进入官网</a>
                            <a href="https://github.com/aa24615/qadmin" target="_blank" class="layui-btn layui-btn-ms  layui-btn-danger">github</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="layui-col-md4">

            <div class="layui-card">
                <div class="layui-card-header"><h2>QAdmin 特点</h2></div>
                <div class="layui-card-body" style="height: 250px;">
                    <ul>
                        <li>轻量级</li>
                        <li>简洁直爽</li>
                        <li>基于layui框架,上手快</li>
                        <li>支持jq/vue/layui</li>
                        <li>...</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="layui-row">
        <div class="layui-col-md9" style="padding-right: 20px">
            <h2>最新会员</h2>

            <table class="layui-table layui-form">

                <thead>
                <tr>
                    <th><a href="?/admin/user/index/order/uid.html">UID</a></th>
                    <th>手机</th>
                    <th>用户名</th>
                    <th>昵称</th>
                    <th>邮箱</th>
                    <th><a href="?/admin/user/index/order/reg_time.html">注册时间</a></th>
                    <th><a href="?/admin/user/index/order/login_time.html">登录时间</a></th>
                    <th><a href="?/admin/user/index/order/login.html">登录次数</a></th>
                </tr>
                </thead>
                <tbody>
                <tr class="id36567">
                    <td>36567</td>
                    <td>15912345678</td>
                    <td>YY187919</td>
                    <td></td>
                    <td>YY187919@flash127.com</td>
                    <td>2019-04-01 11:44:20</td>
                    <td>2019-04-01 11:44:20</td>
                    <td>7</td>
                </tr>
                <tr class="id36567">
                    <td>36567</td>
                    <td>15912345678</td>
                    <td>YY187919</td>
                    <td></td>
                    <td>YY187919@flash127.com</td>
                    <td>2019-04-01 11:44:20</td>
                    <td>2019-04-01 11:44:20</td>
                    <td>7</td>
                </tr>
                <tr class="id36567">
                    <td>36567</td>
                    <td>15912345678</td>
                    <td>YY187919</td>
                    <td></td>
                    <td>YY187919@flash127.com</td>
                    <td>2019-04-01 11:44:20</td>
                    <td>2019-04-01 11:44:20</td>
                    <td>7</td>
                </tr>
                <tr class="id36567">
                    <td>36567</td>
                    <td>15912345678</td>
                    <td>YY187919</td>
                    <td></td>
                    <td>YY187919@flash127.com</td>
                    <td>2019-04-01 11:44:20</td>
                    <td>2019-04-01 11:44:20</td>
                    <td>7</td>
                </tr>
                <tr class="id36567">
                    <td>36567</td>
                    <td>15912345678</td>
                    <td>YY187919</td>
                    <td></td>
                    <td>YY187919@flash127.com</td>
                    <td>2019-04-01 11:44:20</td>
                    <td>2019-04-01 11:44:20</td>
                    <td>7</td>
                </tr>
                <tr class="id36567">
                    <td>36567</td>
                    <td>15912345678</td>
                    <td>YY187919</td>
                    <td></td>
                    <td>YY187919@flash127.com</td>
                    <td>2019-04-01 11:44:20</td>
                    <td>2019-04-01 11:44:20</td>
                    <td>7</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="layui-col-md3">
            <h2>会员统计</h2>

            <table class="layui-table layui-form">
                <tr>
                    <th>今天登录</th>
                    <td>555</td>
                </tr>
                <tr>
                    <th>昨天登录</th>
                    <td>5552</td>
                </tr>
                <tr>
                    <th>会员总数</th>
                    <td>224555</td>
                </tr>
                <tr>
                    <th>月活跃数</th>
                    <td>55885</td>
                </tr>
                <tr>
                    <th>季活跃数</th>
                    <td>5485885</td>
                </tr>
                <tr>
                    <th>vip用户</th>
                    <td>65885</td>
                </tr>
                <tr>
                    <th>过期vip</th>
                    <td>525885</td>
                </tr>

            </table>
        </div>
    </div>
</div>

</body>
</html>